# Python
__pycache__/
*.pyc

# Virtual environment
env/
venv/
quizenv/
*.venv

# NLTK and cache data
nltk_data/
uploads/
*.pkl
*.pickle

# Model cache
.cache/
*.bin
*.safetensors

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
